body{
  overflow-x: hidden;
}


.app-div{
  display: flex;
  justify-content: center;
  }

.div-chart{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
}

@media( max-width: 767px){
  .div-chart{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70vw;
  height: 100vh;
  /* margin-left: 20px;
  margin-right: 20px; */
  margin-top: 80px;
  }
}