


.app-div{
  display: flex;
  justify-content: center;
  }

.div-chart{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
}

  .div-chart{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70vw;
  height: 100vh;
  /* margin-left: 20px;
  margin-right: 20px; */
  margin-top: 80px;
  }

@media ( min-width: 1400px){
.div-chart{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  padding-left: 60px;
  padding-right: 60px;
  align-items: center;
}
}